@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #292a2d;
  color: #f8faff;
  font-family: "Segoe UI", sans-serif;
}

body {
  @apply antialiased leading-relaxed;
}

.prose pre {
  background-color: #181d28 !important;
  padding: 0.6rem !important;
  margin: 0 !important;
  border-radius: 0.7rem !important;
  scrollbar-width: thin;
  scrollbar-color: #444 #181d28;

  code {
    background-color: #181d28 !important;
  }
}

.prose pre::-webkit-scrollbar {
  height: 8px;
}

.prose pre::-webkit-scrollbar-track {
  background: #181d28;
  border-radius: 0.5rem;
}

.prose pre::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 0.5rem;
}

.prose.w-full {
  max-width: 100%;
}

.prose pre code {
  padding: 0 !important;
}